* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(/src/img/Untitled.webp)center/ cover no-repeat;

}

main {
    gap: 5px;
    margin: auto;
    margin-top: 10px;
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 35px;
    color: rgb(219, 19, 19);
}

label {
    font-size: 19px;
}

input {
    font-size: 20px;
    border-radius: 5px;
    height: 30px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    border-radius: 5px;
    font-size: 25px;
    background-color: rgb(0, 0, 0);
    color: red;
    cursor: pointer;
}


.heroi {
    margin-bottom: 450px;
    display: flex;
    font-size: 34px;
    justify-content: center;
    color: rgb(255, 0, 0);
    white-space: pre-line;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f0f0f02c;
    text-align: center;
    padding: 20px;
}

footer ul {
    display: flex;
    justify-content: center;
    /* Centraliza os itens horizontalmente */
    list-style: none;
    /* Remove os marcadores da lista */
    padding: 0;
}

footer li {
    margin: 0 10px;
    /* Adiciona margem entre os itens */
}

.redes-sociais {
    display: flex;
    align-items: center;
    flex-direction: row;
}